@model BacklogManager.ViewModels.AddMediaObjectViewModel

@{
    ViewData["Title"] = "Add Media";
}

<h1>Add Media</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Add">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTypeID" class="control-label"></label>
                <br />
                <select asp-for="SubTypeID" asp-items="Model.SubTypes"></select>
                <span asp-validation-for="SubTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interest" class="control-label"></label>
                <input asp-for="Interest" class="form-control" />
                <span asp-validation-for="Interest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Started" class="control-label"></label>
                <br />
                <input asp-for="Started" class="checkbox" />
            </div>
            <div class="form-group">
                <label asp-for="RecommendSource" class="control-label"></label>
                <input asp-for="RecommendSource" class="form-control" />
                <span asp-validation-for="RecommendSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ExternalId" />
                <input type="hidden" asp-for="DatabaseSource" />
                <input type="hidden" asp-for="Image" />
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

