@model BacklogManager.ViewModels.SuggestionViewModel

@{
    ViewData["Title"] = "Random Suggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random Suggestion</h2>
<p>
    A purely random suggestion from your Backlog, for when you aren't feeling picky.
</p>
<hr />

@if (Model.MediaObjects.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MediaObject mediaObject in Model.MediaObjects)
            {
                <tr>
                    <td>@mediaObject.Title</td>
                    <td>@mediaObject.MediaSubType.Name</td>
                    <td>
                        <form method="post" asp-controller="Media" asp-action="SelectTitle">
                            <input type="hidden" name="ID" value="@mediaObject.ID" />
                            <input type="submit" value="Select" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />

@* ToDo: update to accept a variable numSuggestion value. *@
@if (Model.MediaObjects.Count < 3)
{
    <p>That's all the suggestions we have today.</p>
}
else
{
    <p>Each title will only be suggested once per day.</p>
}