@model List<BacklogManager.Models.MediaObject>

@{
    ViewData["Title"] = "Random Suggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random Suggestion</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
}
    </tbody>
</table>
