
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unauthorized Access</h2>

<p>If you have reached this page, you likely tried to access something you aren't supposed to.</p>