@{
    ViewData["Title"] = "About Backlog Manager";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<hr />

<p>
    Backlog Manager is a web application designed to keep track of the media users have yet to enjoy,
    to help decide which titles are worth their time,
    and to increase enjoyment by reducing choice paralysis.
    <br />
    <br />
    Choices of media today are seemingly endless. Scrolling through Netflix, browsing bookshelves, or perusing your game collection can be overwhelming.
    Cut through the noise.
    Use Backlog Manager to whittle down that oppressive backlog of movies, tv, games, or books collecting dust.
    You can add titles to your Backlog, request random suggestions, request slightly less random suggestions based on your input, and check them off when you are done.
    <br />
    <br />
    More features to come.
</p>
